<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:4242/KDListManager" 
                binding="netTcpBinding" 
                contract="Miracle.HK.ReportArchive.Search.Contract.IKDListManager" />
    </client>
  </system.serviceModel>
</configuration>