<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="LuceneBlobStorage" value="UseDevelopmentStorage=true"/>-->
    <!--<add key="LuceneBlobStorage" value="DefaultEndpointsProtocol=[http|https];AccountName=myAccountName;AccountKey=myAccountKey"/>-->
    <add key="LuceneBlobStorage" value="DefaultEndpointsProtocol=https;AccountName=alylucene;AccountKey=somsz80X1VUnjctK8iehh5S9KrzPeLBlvBB+6zBv4+tM4hBzpddqQviekawPJh4umbzelH0BPu2p/YRAfySgTw=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
